.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;    
    height: 30px;
    background-color: black;
    z-index: 1;
    color: #ffffff;
}

#map-canvas {
    position: fixed!important;
    width: 97%;
    height: 85%;
    background-color: #CCC;
      }
      .barlabel,.barinput,.barbutton {
        width:20%;
        display:inline;
      }
      #latLangBar{
        margin:0px auto;
        width: 50%;
      }
      .taskactive {
        right:0;
      }
      .taskright {
        float:right!important;
      }
      .taskdisappear {
        /*right:-400px;*/
        display:none;
      }
      .taskappear{
        display:block;
      }
      .hide{
        display:none;
      }
      .show {
        display:block;
      }
      .inlineshow{
        display:inline;
      }
      .inlineblockshow{
        display:inline-block;
      }
      .visible {
        visibility: visible;
      }
      .vishide {
        visibility: hidden;
      }
      .newDrillDiv {
        border: solid 1px;
        padding: 7px 5px 10px 11px;
        margin-bottom: 10px;
      }
      .taskText {
        width:45%!important;
        display:inline!important;
        margin-bottom: 5px;
      }
      .halfTaskText {
        width:90px!important;
        display: inline!important;
        margin-bottom: 5px;
      }
      .scrollableList {
        overflow: scroll;
        max-height: 500px;
      }
     .input-group-addon{
        text-align: left!important;
      }
      .drillClose {
        float: right;
        display: inline-block;
        padding: 2px 5px;
        background: #428bca;
        color: #fff;
      }
      .red {
        background-color: red!important;
      }
      .blockDiv{
        display:block!important;
      }
      .operationClose {
        float: right;
        display: inline-block;
        padding: 2px 5px;
        background: #428bca;
        color: #fff;
      }
      .margintop{
      margin-top: 9px;
      display: block;
      }
      #planNameDisplay{
      color: white;
      margin-top: 13px;
      margin-right: 18px;
      font-size: 17px;
      }
      .margintop-2 {
        margin: 2px auto!important;
      }
      .configTitle{
        margin: 0 auto;
        width: 13%;
        font-size: large;
        margin-top: 10px;
        color: white;
      }
      .adminConfigure{
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left:42%;
      }
      .adminRecover{
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left:44.6%;
      }
      .text-error {
        border-color: red;
        border-width: 4px;
      }
      #myfield_description {
        display: none;
      }
      /*body{
        overflow-y: hidden!important;
      }
      .sidebar-offcanvas{
        overflow-y: auto!important;
        overflow-x: hidden!important;
      }*/
      .adminUploadSiteInfo{
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left:39.03%;
      }
      input[type=file] {
        display:inline-block;
        border-color:black!important;
      }
      .textSpan{
        display: inline-block;
        width: 110px;
      }