<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rover Commander Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard1.css" rel="stylesheet">
    <link href="/static/css/toastr.css" rel="stylesheet">
    <link href="/static/css/bootstrap-switch.css" rel="stylesheet">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap-switch.js"></script>
    <script src="/static/js/toastr.js"></script>    
  </head>

  <body>
    <input type = hidden id = 'close' onclick = "event.cancelBubble = true;"> 
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="configTitle">
        Administrator Page
      </div>
    </div>
      <div class="adminConfigure">
       <button type="button" class="btn btn-primary"  data-target="#myModal" id = "operationPaneConfig" >
  Configure Operation values
</button>
    </div>
      <div class="adminRecover">
        <button type="button" class="btn btn-primary" data-toggle="modal" id = "planTrash">Recover Plan</button>
      </div>
      <div class="adminUploadSiteInfo">
        
        <form id="uploadFile" method="POST" action="/config/" enctype="multipart/form-data">
          <input type="file" class="btn" name="ipl" />
          <input type="submit" class="btn btn-primary" value="Upload" name="uploadFile" />
        </form>
        <button type="button" class="btn btn-primary" data-toggle="modal" id = "remove_sites">Remove Sites</button>
      </div>
      <div class="container">
        <form role="form">
          <div class="form-group">
            <label for="comment">File Content :</label>
            <textarea readonly class="form-control" rows="5" id="comment"></textarea>
          </div>
        </form>
      </div>
      
<!--       <form id="upload" method="post" action="upload.php" enctype="multipart/form-data">
            <div id="drop">
                Drop Here

                <a>Browse</a>
                <input type="file" name="upl" multiple />
            </div>

            <ul>
            </ul>

        </form>
 -->    
 </div>

<!-- //////////////////////////////////////////////////////// -->    

<div class="modal fade" id="planTrashModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="planTrashModalLabel">Trash</h4>
      </div>
      <div id="planTrashDiv" class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- //////////////////////////////////////////////////////// -->    

<div class="modal fade" id="operationConfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <!--  <div class="modal-dialog">
    <div class="modal-content"> -->
      
      
        
    <div class="modal-dialog margintop-2">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Configuration Page</h4>
      </div>
        <div class="modal-body">
          <form id="configForm" class="form-horizontal">
               <div class="form-group">
                  <label class="col-sm-4 control-label">Drill Value</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="drillValueConfig" />
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-4 control-label">BUF</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="BUFConfig" />
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-4 control-label">MMRS</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="MMRSConfig1" />
                      <input type="text" class="form-control" id="MMRSConfig2" />
                      <input type="text" class="form-control" id="MMRSConfig3" />
                  </div>
                  <div class="col-sm-4">
                      
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-4 control-label">Science Image</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="scienceImageConfig1" />
                  </div>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="scienceImageConfig2" />
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-4 control-label">Image Panorama</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="imagePanoramaConfig1" />
                      <input type="text" class="form-control" id="imagePanoramaConfig2" />
                  </div>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="imagePanoramaConfig3" />
                      <input type="text" class="form-control" id="imagePanoramaConfig4" />
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-4 control-label">Spectra Panorama</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="spectraPanoramaConfig1" />
                      <input type="text" class="form-control" id="spectraPanoramaConfig2" />
                      <input type="text" class="form-control" id="spectraPanoramaConfig3" />
                  </div>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="spectraPanoramaConfig4" />
                      <input type="text" class="form-control" id="spectraPanoramaConfig5" />
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-4 control-label">Precise Move</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="preciseMoveConfig" />
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-4 control-label">Smart Target</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="smartTargetConfig" />
                  </div>
              </div>

               <div class="form-group">
                  <label class="col-sm-4 control-label">Marker Name</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="markerNameConfig" />
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-4 control-label">Nav Cam</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="navcamConfig" />
                  </div>
              </div>

          </form>

          <p id="templateNameErr" class="err"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
          <button type="button" class="btn btn-primary" id = "saveConfig">Save</button>
        </div>
      </div>
    </div>
      </div>
    
  <!--   </div>
  </div> -->

  </body>
   <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/togglebar.js"></script>
  </html>
