#map-canvas {
    position: fixed!important;
    width: 97%;
    height: 85%;
    background-color: #CCC;
      }
      .barlabel,.barinput,.barbutton {
        width:20%;
        display:inline;
      }
      #latLangBar{
        margin:0px auto;
        width: 50%;
      }
      .taskactive {
        right:0;
      }
      .taskright {
        float:right!important;
      }
      .taskdisappear {
        right:-400px;
      }